.form {
  // .form__inner
  &__inner {
    padding: 135px 0;

    @media (max-width: $mbp4 + px) {
      padding: 70px 0;
    }
  }

  // .form__title
  &__title {
    margin-bottom: 50px;
    font-weight: 600;
    text-transform: capitalize;
  }

  // .form__wrapper
  &__wrapper {
    display: grid;
    column-gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;

    @media (max-width: $mbp2 + px) {
      column-gap: calc(15px + (70 - 15) * ((100vw - 800px) / (1200 - 800)));
    }

    @media (max-width: $mbp4 + px) {
      display: flex;
      flex-direction: column;
    }
  }

  // .form__input
  &__input {
    grid-column: 1;
  }

  // .form__area
  &__area {
    grid-column: 2;
    grid-row: 1 / 3;
    resize: none;

    @media (max-width: $mbp4 + px) {
      height: 120px;
    }
  }

  // .form__button
  &__button {
    grid-column: 2;
    padding: 16px;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(-18deg, #071d68 0%, #0b4bec 100%);
    background-position: 0 0;
    background-size: 1000% 100%;
    background-repeat: no-repeat;
    background-color: #0b4bec;
    transition: all 0.3s ease;

    &:hover {
      background-size: 100% 100%;
    }
  }

  // .form__input, .form__area
  &__input,
  &__area {
    border: 1px solid rgba(#000, 0.2);
    padding: 16px;
    font-size: 14px;
  }
}
