<section class="achievements">
  <picture>
    <source srcset="img/achievements-bg-800.webp" type="image/webp" media="(max-width:799.98px)">
    <source srcset="img/achievements-bg.webp" type="image/webp">
    <img class="achievements__image-bg" src="img/achievements-bg.jpg" alt=" ">
  </picture>
  <div class="container">
    <div class="achievements__inner">
      <div class="achiviements__row">
        <div class="achiviements__column">
          <p class="achiviements__icon icon-users"></p>
          <p class="achiviements__count">725M</p>
          <h6 class="achiviements__title">Happy User</h6>
        </div>
        <div class="achiviements__column">
          <p class="achiviements__icon icon-heart"></p>
          <p class="achiviements__count">700m</p>
          <h6 class="achiviements__title">User Apprication</h6>
        </div>
        <div class="achiviements__column">
          <p class="achiviements__icon icon-shopping-cart"></p>
          <p class="achiviements__count">10M+</p>
          <p class="achiviements__title">Payment Service</p>
        </div>
        <div class="achiviements__column">
          <p class="achiviements__icon icon-rocket"></p>
          <p class="achiviements__count">600M</p>
          <h6 class="achiviements__title">User Feedback</h6>
        </div>
      </div>
    </div>
  </div>
</section>