<section class="banner">
  <div class="banner__inner">
    <div class="banner__container container">
      <h2 class="banner__title">
        To Make Your Life Easier <span class="word-nowrap">Take a Card</span>
      </h2>
      <p class="banner__title-description">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered There are many variations of passages of Lorem Ipsum randomised words which don't look even slightly believable.
      </p>
      <div class="banner__apply-button">
        <a class="banner__apply-link link-button" href="#">
          Apply Now
        </a>
      </div>
      <div class="banner__credit-cards">
        <picture>
          <source srcset="img/content/credit-card-small-480.webp" type="image/webp" media="(max-width:479.98px)">
          <source srcset="img/content/credit-card-small-800.webp" type="image/webp" media="(max-width:799.98px)">
          <source srcset="img/content/credit-card-small.webp" type="image/webp">
          <img class="banner__credit-card-img banner__credit-card-img_side banner__credit-card-img_left" src="img/content/credit-card-small.png" alt="">
        </picture>
        <picture>
          <source srcset="img/content/credit-card-480.webp" type="image/webp" media="(max-width:479.98px)">
          <source srcset="img/content/credit-card-800.webp" type="image/webp" media="(max-width:799.98px)">
          <source srcset="img/content/credit-card.webp" type="image/webp">
          <img class="banner__credit-card-img" src="img/content/credit-card.png" alt="">
        </picture>
        <picture>
          <source srcset="img/content/credit-card-small-480.webp" type="image/webp" media="(max-width:479.98px)">
          <source srcset="img/content/credit-card-small-800.webp" type="image/webp" media="(max-width:799.98px)">
          <source srcset="img/content/credit-card-small.webp" type="image/webp">
          <img class="banner__credit-card-img banner__credit-card-img_side banner__credit-card-img_right" src="img/content/credit-card-small.png" alt="">
        </picture>
      </div>
    </div>
    <div class="decoration-figure">
      <div class="decoration-figure__element decoration-figure__element_bottom-layer"></div>
      <div class="decoration-figure__element decoration-figure__element_top-layer"></div>
    </div>
    <div class="decoration-icon">
      <div class="decoration-icon__percent"></div>
      <div class="decoration-icon__shopping"></div>
      <div class="decoration-icon__shopping-list"></div>
      <div class="decoration-icon__dollar"></div>
    </div>
  </div>
</section>