<section class="form">
  <div class="container">
    <div class="form__inner">
      <h4 class="form__title main-title">
        Your Message
      </h4>
      <form class="form__wrapper">
        <input class="form__input" placeholder="Your Name" type="text">
        <input class="form__input" placeholder="Email Address" type="email">
        <input class="form__input" placeholder="Subject" type="text">
        <textarea class="form__area" placeholder="Message"></textarea>
        <button class="form__button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>