<section class="get-card">
  <div class="container">
    <div class="get-card__inner">
      <h3 class="get-card__title title">
        Easy Process
      </h3>
      <h4 class="get-card__main-title main-title">
        To Get A Credit Card
      </h4>
      <div class="get-card__wrapper">
        <div class="get-card__body">
          <a class="get-card__link" href="#">
            <img class="get-card__block-img" src="img/icons/chart.svg" alt="Иконка">
            <h5 class="get-card__block-title">
              Online Application
            </h5>
            <p class="get-card__block-article">
              Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            </p>
          </a>
        </div>
        <div class="get-card__body">
          <a class="get-card__link" href="#">
            <img class="get-card__block-img" src="img/icons/deal.svg" alt="Иконка">
            <h5 class="get-card__block-title">
              Get Approval
            </h5>
            <p class="get-card__block-article">
              Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            </p>
          </a>
        </div>
        <div class="get-card__body">
          <a class="get-card__link" href="#">
            <img class="get-card__block-img" src="img/icons/card.svg" alt="Иконка">
            <h5 class="get-card__block-title">
              Get Your Card
            </h5>
            <p class="get-card__block-article">
              Information in the database is published in two formats. It is available in PDF comparison according to type of credit card.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>