<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <span class="logo__name">Digital Banking</span>
        <span class="logo__tagline">Be Safe Banking</span>
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__link" href="#">Cards</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__link" href="#">Service</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__link" href="#">Banking</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__link" href="#">FAQ</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <ul class="create-account" data-move-to="menu__list,0,479">
        <li class="create-account__item">
          <a class="create-account_link link-button" href="#" >Creat Account</a>
        </li>
      </ul>
      <div class="burger-icon">
        <button class="burger-icon__button" type="button">
          <span class="burger-icon__button-line"></span>
          <span class="burger-icon__button-line"></span>
          <span class="burger-icon__button-line"></span>
        </button>
      </div>
    </div>
  </div>
</header>