<section class="service">
  <div class="service__inner">
    <div class="container">
      <h3 class="service__title title">
        useful service avaible
      </h3>
      <h4 class="service__main-title main-title">
        Service of Credit Card
      </h4>
    </div>
    <div class="slider">
      <div class="slider__container swiper-container container">
        <div class="slider__wrapper swiper-wrapper">
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/balance.jpg" alt="Обложка">
            <p class="slider__slide-title">Balence transform</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/banking.jpg" alt="Обложка">
            <p class="slider__slide-title">Internet Banking</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/payment.jpg" alt="Обложка">
            <p class="slider__slide-title">Buying Payment</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/air-ticket.jpg" alt="Обложка">
            <p class="slider__slide-title">Buy Air Ticket</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/balance.jpg" alt="Обложка">
            <p class="slider__slide-title">Balence transform</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/banking.jpg" alt="Обложка">
            <p class="slider__slide-title">Internet Banking</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/payment.jpg" alt="Обложка">
            <p class="slider__slide-title">Buying Payment</p>
          </a>
          <a class="slider__slide swiper-slide" href="#">
            <img class="slider__slide-img" src="img/content/air-ticket.jpg" alt="Обложка">
            <p class="slider__slide-title">Buy Air Ticket</p>
          </a>
        </div>
      </div>
      <button class="slider__button slider__button_prev swiper-button-prev">
        <svg width="32" viewBox="0 0 32 20">
          <path d="M30.62 8.68H4.845l6.15-6.18a1.39 1.39 0 0 0 0-1.96 1.375 1.375 0 0 0-1.95 0L.54 9.086a1.39 1.39 0 0 0 0 1.96l8.505 8.547a1.373 1.373 0 0 0 1.95 0 1.39 1.39 0 0 0 0-1.96l-6.15-6.18H30.62c.762 0 1.38-.62 1.38-1.387 0-.765-.618-1.386-1.38-1.386z"/>
        </svg>
      </button>
      <button class="slider__button slider__button_next swiper-button-next">
        <svg width="32" viewBox="0 0 32 20">
          <path d="M1.38 8.68h25.776l-6.15-6.18a1.39 1.39 0 0 1 0-1.96 1.375 1.375 0 0 1 1.95 0l8.505 8.546a1.39 1.39 0 0 1 0 1.96l-8.505 8.547a1.373 1.373 0 0 1-1.95 0 1.39 1.39 0 0 1 0-1.96l6.15-6.18H1.379c-.761 0-1.38-.62-1.38-1.387C0 9.301.618 8.68 1.38 8.68z"/>
        </svg>
      </button>
    </div>
  </div>
</section>