// === Шрифт по умолчанию ===
$fontFamily: "Raleway", sans-serif;

// === Минимальная ширина экрана ===
$minWidth: 320px;

// === Ширина контейнера ===
$WidthContainer: 1170px;

// === Отступы по краям контейнера ===
$paddingContainer: 15px;

// === Максимальная ширина контейнера с учетом внутренних отступов ===
$maxWidthContainer: $WidthContainer + 2 * $paddingContainer;

// === Медиа брейкпоинты ===
$mbp1: 1319.98;
$mbp2: 1199.98;
$mbp3: 991.98;
$mbp4: 799.98;
$mbp5: 599.98;
$mbp6: 479.98;
